# Nixpacks configuration for Railway
# https://nixpacks.com/docs/configuration/file

[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "python manage.py migrate --noinput && gunicorn coachvirtualback.wsgi:application --bind 0.0.0.0:$PORT"
